/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}


h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.from-group .from-item form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
}

form label {
  margin-bottom: 5px;
}

.from-group .from-item .from-item-field {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.from-group .from-item form .search-btn {
  min-width: 120px;
  width: auto;
  padding: 8px 12px;
  height: 45px;
  font-size: 20px;
}

.from-group .from-item .from-field {
  display: flex;
  justify-content: space-between;
}


/* container */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  text-align: center;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}

.header-inner nav ul {
  display: flex;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 42px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}


form input {
  width: 180px;
  min-height: 32px;
  padding: 0px 5px;
}

form select {
  min-height: 36px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

/* section stay */

#stay {
  padding: 40px 0px;
}
#stay h2 {
  margin-bottom: 20px;
}

/* section about */

.about-row {
  display: flex;
  align-items: center;
}

#about h2 {
  margin-bottom: 30px;
}

.about-images {
  display: flex;
}

.about-images .image img {
  width: 100%;
}

/* ideas-row */

.ideas-row {
  display: flex;
}

#ideas h2 {
  margin-bottom: 30px;
}

.idea-items img {
  width: 100%;
}

.ideas-row .half {
  margin-bottom: 0px;
}

.idea-items h3 {
  margin-top: 0px;
}


/* host  */

.host-row {
  display: flex;
  align-items: center;
}

.host-image img {
  width: 100%;
}

.host-row ul {
  margin-bottom: 0px;
}

.host-row li {
  line-height: 26px;
}

.host-row .half {
  margin-bottom: 0px !important;
}

.host-content {
  width: 75%;
  margin: 0 auto;
}

/* half column */

.half {
    width: calc(50% - 20px);
    margin: 0 10px 15px 0;
}

.half:nth-child(2n) {
    margin: 0 0 15px 10px;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* small device */
@media (max-width: 320px) {
  .from-group form label {
    min-width: 68px !important;
  }

  .from-group form input {
        min-width: 147px;
  }
}

/* form horizontally until there is enough screen real estate, around 1000px screen width */

@media (min-width: 481px) and (max-width: 1024px) {
  .from-group .from-item .from-field {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
  }
  .from-group .from-item form {
    flex-direction: column;
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 15px;
  }
  .from-group {
    padding: 15px 20px;
  }
  form input {
    width: 100%;
    max-width: 280px;
  }
  form select {
  width: 100%;
  max-width: 250px;
  }
  .from-group form label {
    min-width: 95px;
    margin-bottom: 0px;
  }
  .from-group .from-item .from-item-field {
    flex-direction: row;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .from-group .from-item form .search-btn {
    min-width: 100%;
  }

 }

/* -------  Media Query for mobile   ------- */
@media  (max-width: 480px) {
    .header-inner {
      flex-direction: column;
    }
    .from-group .from-item .from-field {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
      width: calc(100% - 20px);
    }
    .from-group .from-item form {
      flex-direction: column;
      width: calc(100% - 30px);
      margin: 0 auto;
      padding: 15px;
    }
    .from-group {
      padding: 15px 20px;
    }
    form input {
      width: 100%;
      max-width: 200px;
    }
    form select {
    width: 100%;
    max-width: 180px;
    }
    .from-group form label {
      min-width: 95px;
      margin-bottom: 0px;
    }
    .from-group .from-item .from-item-field {
      flex-direction: row;
      margin-right: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .from-group .from-item form .search-btn {
      min-width: 100%;
    }
    .about-row {
      flex-direction: column;
    }

    .about-images {
      flex-direction: column;
    }

    .about-images .half {
      width: 100%;
      margin: 0px;
    }

    .about-images .image {
      margin-bottom: 20px;
    }

    .about-row .half {
      width: 100%;
      margin-bottom: 20px;
      margin: 0px;
    }

    .ideas-row {
      flex-direction: column;
    }

    .idea-items {
      margin-bottom: 20px;
    }

    .ideas-row .half {
      width: 100%;
      margin: 0px;
    }

    .host-row {
      flex-direction: column;
    }

    .host-row .half {
      width: 100%;
      margin: 0px;
    }

}
